.offcanvas-body{
    background-color: #f3f3f9 !important;
    min-height: 100vh;
}

.steps-card{
    min-height: 80vh;
}

.circle-progress{
    width: 100px;
}

.timeline-item .date {
    font-weight: normal !important;
    font-style: normal !important;
}

.layout-rightside {
    width: 360px;
}