<loading-spinner [loadingText]="loadingText" [loading]="isLoading"></loading-spinner>

<breadcrumb [links]="links" [title]="pageTitle" *ngIf="!isLoading"></breadcrumb>


<div class="h-100" *ngIf="!isLoading">
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <!-- card -->
            <div class="card">
                <div class="card-body py-1">
                    <div class="d-flex align-items-end justify-content-between">
                        <apx-chart
                            [series]="chartOptions.series"
                            [chart]="chartOptions.chart"
                            [labels]="chartOptions.labels"
                            [grid]="chartOptions.grid"
                            [plotOptions]="chartOptions.plotOptions"
                            [responsive]="chartOptions.responsive"
                        ></apx-chart>
                    </div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
        <div class="col-xl-3 col-md-6">
            <!-- card -->
            <div class="card card-animate">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1 overflow-hidden">
                            <p class="text-uppercase fw-medium text-muted text-truncate mb-0">{{ 'total_amount' | transloco }}</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-4">
                        <div>
                            <h4 class="fs-22 fw-semibold ff-secondary">
                                <span class="counter-value">{{ axisModel.budget | currency: 'د.إ' : 'symbol' : '4.2-2'  }}</span>
                            </h4>
                        </div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title bg-primary-subtle rounded fs-3">
                                <i class="bx bx-wallet text-primary"></i>
                            </span>
                        </div>
                    </div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
        <div class="col-xl-3 col-md-6">
            <!-- card -->
            <div class="card card-animate">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1 overflow-hidden">
                            <p class="text-uppercase fw-medium text-muted text-truncate mb-0"> {{ 'spent_amount' | transloco }}</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-4">
                        <div>
                            <h4 class="fs-22 fw-semibold ff-secondary">
                                <span class="counter-value">{{ axisModel.spentAmount | currency: 'د.إ' : 'symbol' : '4.2-2'  }}</span>
                            </h4>
                        </div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title bg-success-subtle rounded fs-3">
                                <i class="bx bx-dollar-circle text-success"></i>
                            </span>
                        </div>
                    </div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
        <div class="col-xl-3 col-md-6">
            <!-- card -->
            <div class="card card-animate">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1 overflow-hidden">
                            <p class="text-uppercase fw-medium text-muted text-truncate mb-0"> {{'remaining_amount' | transloco}}</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-4">
                        <div>
                            <h4 class="fs-22 fw-semibold ff-secondary">
                                <span class="counter-value">{{ axisModel.remainingAmount | currency: 'د.إ' : 'symbol' : '4.2-2' }}</span>
                            </h4>
                        </div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title bg-info-subtle rounded fs-3">
                                <i class="bx bx-shopping-bag text-info"></i>
                            </span>
                        </div>
                    </div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
        
    </div> <!-- end row-->

    <div class="row">
        <div class="col-xl-6">
            <div class="card card-height-100">
                <div class="card-header border-0 align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">{{ pageTitle }}</h4>
                </div><!-- end card header -->
                <div class="card-body p-0 pb-2">
                    <apx-chart
                        [series]="barChartOptions.series"
                        [chart]="barChartOptions.chart"
                        [legend]="barChartOptions.legend"
                        [dataLabels]="barChartOptions.dataLabels"
                        [colors]="barChartOptions.colors"
                        [plotOptions]="barChartOptions.plotOptions"
                    ></apx-chart>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
        <div class="col-xl-6">
            <div class="card card-height-100">
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">{{ 'plans' | transloco }}</h4>
                </div><!-- end card header -->

                <div class="card-body">
                    <div class="table-responsive table-card">
                        <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
                            <thead class="text-muted table-light">
                                <tr>
                                    <th scope="col">{{ 'plan' | transloco }}</th>
                                    <th scope="col">{{ 'date' | transloco}}</th>
                                    <th scope="col">{{ 'status' | transloco }}</th>
                                    <th scope="col">{{ 'timePriod' | transloco }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let plan of axisModel.plans">
                                    <td scope="col">
                                        <a class="btn btn-link" href="axis/plan/{{plan.id}}">{{ plan.planNameAR }}</a>
                                    </td>
                                    <td scope="col">{{ 'from'|transloco }} {{ plan.startDate | date:'dd/MM/yyyy'}} {{ 'to' | transloco }} {{ plan.endDate | date:'dd/MM/yyyy' }}</td>
                                    <td scope="col">
                                        
                                        <span class="badge" [ngClass]="getPlanStatusClass(plan.planStatus)">{{ 'plan_status_'+plan.planStatus | transloco }}</span>
                                    </td>
                                    <td scope="col">
                                        <span class="text-success" *ngIf="plan.planTimelineInWeeks <= 2 || plan.planTimelineInWeeks > 10">{{ plan.planTimelineInWeeks }} {{ 'week' | transloco}}</span>
                                        <span class="text-success" *ngIf="plan.planTimelineInWeeks > 2 && plan.planTimelineInWeeks <= 10">{{ plan.planTimelineInWeeks }} {{ 'weeks' | transloco}}</span>
                                        -
                                        <span class="badge" [ngClass]="getStatusOverwrite(plan.planStatus,plan.startDate,plan.endDate)">
                                            {{getStatusOverwrite(plan.planStatus,plan.startDate,plan.endDate) | transloco}}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="axisModel.plans.length == 0">
                                <tr>
                                    <td colspan="4">
                                        <div class="row align-items-center">
                                            <div class="col-md-12 text-center">
                                                <img src="assets/images/no-data.svg" width="150" />
                                                <p class="mt-2 fw-100">{{ 'no_data'|transloco }}</p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <!-- end tbody -->
                        </table><!-- end table -->
                    </div>
                </div>
            </div> <!-- .card-->
        </div> <!-- .col-->
        <!-- end col -->
    </div>
</div>
