
<loading-spinner [loadingText]="loadingText" [loading]="isLoading"></loading-spinner>
<breadcrumb [links]="links" [title]="pageTitle"></breadcrumb>


<div id="operation-chart" *ngIf="!isLoading">
    
    <div class="sample mb-5">
        <org-diagram 
            [items]="chartItems"
            [annotations]="chartAnnotations"
            [pageFitMode]=PageFitMode.None
            [hasButtons]=Enabled.False
            [cursorItem]="1"
            [buttonsPanelSize]=40
            [linesColor]="'black'"
            [normalItemsInterval]=70
            [linesWidth]=2
            [hasSelectorCheckbox]=Enabled.False
            [templates]="[
                {
                    name: 'operationTemplate',
                    itemSize: { width: 300, height: 125 },
                    minimizedItemSize: { width: 0, height: 0 },
                    highlightPadding: { left: 0, top: 0, right: 0, bottom: 0 },
                    cursorTemplate: cursorTemplate,
                    highlightTemplate: highlightTemplate,
                    itemTemplate: operationTemplate
                },
                {
                    name: 'planTemplate',
                    itemSize: { width: 300, height: 170 },
                    minimizedItemSize: { width: 0, height: 0 },
                    highlightPadding: { left: 0, top: 0, right: 0, bottom: 0 },
                    cursorTemplate: cursorTemplate,
                highlightTemplate: highlightTemplate,
                    itemTemplate: planTemplate
                },
                {
                    name: 'stepTemplate',
                    itemSize: { width: 300, height: 160 },
                    minimizedItemSize: { width: 0, height: 0 },
                    highlightPadding: { left: 0, top: 0, right: 0, bottom: 0 },
                    cursorTemplate: cursorTemplate,
                    highlightTemplate: highlightTemplate,
                    itemTemplate: stepTemplate
                }
            ]"
            [centerOnCursor]="true">
        </org-diagram>
    </div>

    <ng-template #operationTemplate let-itemConfig="context">
        <div class="card card-animate" *ngIf="itemConfig.context.type == 'operation'">
            <div class="card-body">
                <div class="p-2 mt-n3 mx-n3 rounded-top" [ngClass]="'bg-'+calculateClass(itemConfig.context.plansCount,itemConfig.context.completedPlans)+'-subtle'">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <h5 class="mb-0 fs-14">
                            <span class="text-body" Tooltip="text">
                                <div class="my-tooltip">{{ itemConfig.title | excerpt:35 }}
                                    <p class="tooltiptext">{{ itemConfig.title  }}</p>
                                </div>
                            </span>
                        </h5>
                        </div>
                    </div>
                </div>

                <div class="py-2 pb-0">
                    <div class="row gy-3">
                        <div class="col-12">
                            <div>
                                <h5 class="fs-12"> 
                                    <span class="text-success">{{ 'from'|transloco }}</span>
                                     {{itemConfig.context.startDate}}
                                     <span class="text-success">{{ 'to'|transloco }}</span>
                                     {{itemConfig.context.endDate}}
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="d-flex mb-1">
                        <div class="flex-grow-1">
                            <div class="fs-12">{{ 'progress_prec' | transloco }} ({{calculatePrecentage(itemConfig.context.plansCount,itemConfig.context.completedPlans)+'%'}})</div>
                        </div>
                        <div class="flex-shrink-0">
                            <div class="fs-12"><i class="ri-list-check align-bottom me-1 text-muted"></i> {{ itemConfig.context.completedPlans }}/{{ itemConfig.context.plansCount }}</div>
                        </div>
                    </div>
                    <div class="progress progress-sm">
                        <div class="progress-bar" [ngClass]="'bg-'+calculateClass(itemConfig.context.plansCount,itemConfig.context.completedPlans)" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" [style.width]="calculatePrecentage(itemConfig.context.plansCount,itemConfig.context.completedPlans)+'%'">
                        </div><!-- /.progress-bar -->
                    </div><!-- /.progress -->
                </div>

            </div>
            <!-- end card body -->
        </div>
    </ng-template>



    <ng-template #planTemplate let-itemConfig="context">
        
        <div class="card mb-0">
            <div class="card-body py-1">
                
                <div class="mb-2">
                    <span class="badge" [ngClass]="getPlanStatusClass(itemConfig.context.planStatus)">{{ 'plan_status_'+itemConfig.context.planStatus | transloco }}</span>
                </div>
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <h5 class="fs-14 mb-1">{{ itemConfig.title | excerpt:30 }}</h5>
                        <h5 class="fs-12"> 
                            <span class="text-muted">{{ 'date'|transloco }}: </span>
                            <span class="text-success">{{ 'from'|transloco }}</span>
                             {{itemConfig.context.startDate | date:'dd/MM/yyyy'}}
                             <span class="text-success">{{ 'to'|transloco }}</span>
                             {{itemConfig.context.endDate | date:'dd/MM/yyyy' }}
                        </h5>
                    </div>
                    
                </div>
                <h6 class="text-muted m-0 mb-1 p-0 fs-12">{{'aed'|transloco}} {{itemConfig.context.budget}} / {{'aed'|transloco}} {{itemConfig.context.remainingAmount}} <span class="badge bg-success-subtle text-success">{{calculatePrecentage(itemConfig.context.budget,itemConfig.context.remainingAmount)+'%'}}</span></h6>
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <p class="text-muted mb-0 fs-12">
                            <span class="text-success">{{ 'responsibleOfficer'|transloco }}:</span>
                            {{itemConfig.context.responsibleOfficer}}</p>
                        <p class="text-muted mb-0 fs-12">
                            <span class="text-success">{{ 'monitoringOfficer'|transloco }}:</span>
                            {{itemConfig.context.monitoringOfficer}}</p>
                    </div>
                </div>
            </div>
        
            <div class="card-body p-2 py-1 border-top border-top-dashed">
                <div class="d-flex flex-wrap justify-content-evenly fs-12">
                    <p class="text-muted mb-0">
                        <span class="badge bg-success-subtle text-success me-2">
                            {{itemConfig.context.completedCount}}
                        </span>
                        {{'completedCount'|transloco}}
                    </p>
                    <p class="text-muted mb-0">
                        <span class="badge bg-info-subtle text-info me-2">
                            {{itemConfig.context.targetedCount}}
                        </span>
                        
                        {{'targetedCount'|transloco}}
                    </p>
                </div>
            </div>
            <div class="progress rounded-bottom rounded-0" style="height: 4px;">
                <div class="progress-bar bg-success rounded-0" role="progressbar" [ngStyle]="{'width':(calculatePrecentage(itemConfig.context.targetedCount,itemConfig.context.completedCount))+'%'}" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-info rounded-0" role="progressbar" [ngStyle]="{'width':(100-calculatePrecentage(itemConfig.context.targetedCount,itemConfig.context.completedCount))+'%'}" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </ng-template>

    <ng-template #stepTemplate let-itemConfig="context">
        <div *ngIf="itemConfig.context.type == 'step'" class="card card-animate" >
            <div class="card mb-0 ribbon-box ribbon-fill right">
                <div class="card-body">
                    <div class="d-flex mb-1">
                        <div class="flex-grow-1">
                            <h6 class="fs-12 mb-1" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="itemConfig.title">{{ itemConfig.title | excerpt:50 }}</h6>
                        </div>
                    </div>
                    <div class="py-1">
                        <p class="mb-1 fs-12">{{ 'stepWeight' | transloco }} <span class="float-end">{{ itemConfig.context.stepWeight }}%</span></p>
                        <div class="progress mb-2" style="height: 3px;">
                            <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" [ngStyle]="{'width': itemConfig.context.stepWeight+'%'}"></div>
                        </div>
                        <p class="mb-1 fs-12">{{ 'completedPercentage' | transloco }} <span class="float-end">{{ itemConfig.context.completedPercentage }}%</span></p>
                        <div class="progress mb-1" style="height: 3px;">
                            <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" [ngStyle]="{'width': itemConfig.context.completedPercentage+'%'}"></div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0 mb-0 border-top border-top-dashed">
                    <h5 class="fs-12 mb-0 p-1"> 
                        <span class="text-muted">{{ 'date'|transloco }}: </span>
                        <span class="text-success">{{ 'from'|transloco }}</span>
                         {{itemConfig.context.startDate | date:'dd/MM/yyyy'}}
                         <span class="text-success">{{ 'to'|transloco }}</span>
                         {{itemConfig.context.endDate | date:'dd/MM/yyyy' }}
                    </h5>
                </div>
            </div>
        </div>
    </ng-template>
    
    
    
    
    
    
    
    
    <ng-template #cursorTemplate let-itemConfig="context">
        
    </ng-template>
    <ng-template #highlightTemplate let-itemConfig="context">
        <div class="highlight-frame"></div>
        
        <div class="cursor-badge">
            <button type="button" (click)="onChartClick($event, itemConfig,true)" class="btn"></button>
        </div>
    </ng-template>



</div>
