/* You can add global styles to this file, and also import other style files */
.topbar-user {
    background-color: transparent !important;
}


.placeholder {
    cursor: pointer;
    background-color: transparent !important;
    opacity: 1 !important;
}

.scroll-panel{
    height: 700px !important;
}

.ontime{
    background-color: var(--vz-success-bg-subtle) !important;
    --vz-text-opacity: 1;
    color: rgba(var(--vz-success-rgb), var(--vz-text-opacity)) !important;
}

.early{
    --vz-text-opacity: 1;
    color: rgba(var(--vz-info-rgb), var(--vz-text-opacity)) !important;
    background-color: var(--vz-info-bg-subtle) !important;
}

.delayed{
    background-color: var(--vz-danger-bg-subtle) !important;
    --vz-text-opacity: 1;
    color: rgba(var(--vz-danger-rgb), var(--vz-text-opacity)) !important;
}