/* You can add global styles to this file, and also import other style files */
.topbar-user {
    background-color: transparent !important;
}


.placeholder {
    cursor: pointer;
    background-color: transparent !important;
    opacity: 1 !important;
}

.scroll-panel{
    height: 700px !important;
}