

<loading-spinner [loadingText]="loadingText" [loading]="isLoading"></loading-spinner>

<breadcrumb [links]="links" [title]="pageTitle"></breadcrumb>

<div id="operations" *ngIf="!isLoading">
    <div class="row g-4 mb-3">
        <div class="col-sm-auto">
            <div class="d-flex justify-content-sm-end">
                <div class="search-box ms-2">
                    <input type="text" class="form-control" [(ngModel)]="filterTerm"
                    (ngModelChange)="filterOperations()" placeholder="{{'search' | transloco}}...">
                    <i class="ri-search-line search-icon"></i>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="row">
        <div *ngFor="let operation of operations | paginate: { itemsPerPage: limit, currentPage: currentPage,totalItems:this.operations.length}; let i = index;" class="col-xxl-3 col-sm-6 project-card">
            <div class="card">
                <div class="card-body">
                    <div class="p-3 mt-n3 mx-n3 rounded-top" [ngClass]="'bg-'+calculateClass(operation.plansCount,operation.completedPlans)+'-subtle'">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <h5 class="mb-0 fs-14">
                                <span class="text-body" Tooltip="text">
                                    <div class="my-tooltip">{{ operation.name | excerpt:35 }}
                                        <p class="tooltiptext">{{ operation.name  }}</p>
                                    </div>
                                </span>
                            </h5>
                            </div>
                        </div>
                    </div>
    
                    <div class="py-3">
                        <div class="d-flex align-items-center mt-1">
                            <a class="btn btn-primary btn-sm" href="operations/operation/{{operation.id}}">{{'plans' | transloco}} : {{ operation.plansCount }}</a>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex mb-2">
                            <div class="flex-grow-1">
                                <div>{{ 'progress_prec' | transloco }} ({{calculatePrecentage(operation.plansCount,operation.completedPlans)+'%'}})</div>
                            </div>
                            <div class="flex-shrink-0">
                                <div><i class="ri-list-check align-bottom me-1 text-muted"></i> {{ operation.completedPlans }}/{{ operation.plansCount }}</div>
                            </div>
                        </div>
                        <div class="progress progress-sm animated-progress">
                            <div class="progress-bar" [ngClass]="'bg-'+calculateClass(operation.plansCount,operation.completedPlans)" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" [style.width]="calculatePrecentage(operation.plansCount,operation.completedPlans)+'%'">
                            </div><!-- /.progress-bar -->
                        </div><!-- /.progress -->
                    </div>
    
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- Vertical alignment (align-items-center) -->
    <div *ngIf="this.operations.length == 0" class="row align-items-center" style="height: 50vh;">
        <div class="col-md-12 text-center">
            <img src="assets/images/no-data.svg" />
            <p class="mt-2 fw-100">{{ 'no_data'|transloco }}</p>
        </div>
    </div>
        <!-- end row -->
    
    
    <div *ngIf="this.operations.length > 0" class="row g-0 text-center text-sm-start align-items-center mb-4">
        <div class="col-sm-6">
            <div>
                <p class="mb-sm-0 text-muted">{{'showing'|transloco}} <span class="fw-semibold">{{ currentPage }}</span> {{'to'|transloco}} <span class="fw-semibold">10</span> {{'of'|transloco}} <span class="fw-semibold text-decoration-underline">{{ this.operations.length }}</span> {{'entries'|transloco}}</p>
            </div>
        </div>
        <!-- end col -->
        <div class="col-sm-6">
            <pagination-controls
            class="pagination pagination-separated justify-content-center justify-content-sm-end mb-sm-0"
            (pageChange)="onPage($event)"
             previousLabel="{{'previous' | transloco}}"
             nextLabel="{{'next' | transloco}}">
           </pagination-controls>
            <ul class="d-none pagination pagination-separated justify-content-center justify-content-sm-end mb-sm-0">
                <li class="page-item disabled">
                    <a href="#" class="page-link">{{ 'previous'|transloco }}</a>
                </li>
                <li class="page-item active">
                    <a href="#" class="page-link">1</a>
                </li>
                <li class="page-item ">
                    <a href="#" class="page-link">2</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link">3</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link">4</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link">5</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link">{{ 'next'|transloco }}</a>
                </li>
            </ul>
        </div><!-- end col -->
    </div><!-- end row -->
</div>